.search form label {
  display: block;
}

.search .result {
  border: 1px solid black;
  display: inline-block;
  height: 100px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 250px;
}

.search img {
  display: block;
  height: 80px;
  margin: auto;
}
