.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar a {
  color: inherit;
  margin: 0 5px;
  text-decoration: none;
}

.navbar a.active {
  text-decoration: underline;
}
